#cxFoto {
    display: none;
    position: absolute;
    left: 446px;
    top: 1px;
    width: 101px;
    height: 162px;
    border: 0px solid #666;
    font-size: 15px;
    font-weight: normal;
}

#labelCanditato {
    display: none;
    background-color: white;
    position: absolute;
    text-align: center;
    left: 447px;
    top: 146px;
    width: 97px;
    height: 13px;
    border: 0px solid #000;
    font-family: arial;
    font-size: 14px;
    font-weight: normal;
    padding: 2px;
}

#cxFotoSup1 {
    display: none;
    position: absolute;
    z-index: 1;
    left: 392px;
    top: 168px;
    width: 75px;
    height: 118px;
    border: 0px solid #666;
    font-size: 15px;
    font-weight: normal;
}

#labelSuplente1 {
    display: none;
    z-index: 1;
    background-color: white;
    position: absolute;
    text-align: center;
    left: 393px;
    top: 271px;
    width: 71px;
    height: 12px;
    border: 0px solid #000;
    font-family: arial;
    font-size: 10px;
    font-weight: normal;
    padding: 2px;
}

#cxFotoSup2 {
    display: none;
    background-color: white;
    z-index: 1;
    position: absolute;
    left: 472px;
    top: 168px;
    width: 75px;
    height: 118px;
    border: 0px solid #666;
    font-size: 15px;
    font-weight: normal;
}

#labelSuplente2 {
    display: none;
    z-index: 1;
    background-color: white;
    position: absolute;
    text-align: center;
    left: 473px;
    top: 271px;
    width: 71px;
    height: 12px;
    border: 0px solid #000;
    font-family: arial;
    font-size: 10px;
    font-weight: normal;
    padding: 2px;
}

#cargo {
    display: block;
    position: absolute;
    left: 152px;
    top: 30px;
    width: 300px;
    height: 30px;
    border: 0px solid #0cc;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 1.5px;
}

#numeroLabel {
    display: none;
    position: absolute;
    left: 1px;
    top: 65px;
    width: 250px;
    height: 20px;
    border: 0px solid #000;
    font-size: 15px;
    font-weight: 500;
    padding: 2px;
}

.cxNumero1 {
    display: block;
    position: absolute;
    left: 83px;
    top: 60px;
    width: 22px;
    height: 27px;
    border: 1px solid #666;
    font-size: 25px;
    font-weight: 400;
    padding: 2px 2px 2px 2px;
    text-align: center;
}

.cxNumero2 {
    display: block;
    position: absolute;
    left: 112px;
    top: 60px;
    width: 22px;
    height: 27px;
    border: 1px solid #666;
    font-family: arial;
    font-size: 25px;
    font-weight: 400;
    padding: 2px 2px 2px 2px;
    text-align: center;
}

.cxNumero3 {
    display: block;
    position: absolute;
    left: 141px;
    top: 60px;
    width: 22px;
    height: 27px;
    border: 1px solid #666;
    font-family: arial;
    font-size: 25px;
    font-weight: 400;
    padding: 2px 2px 2px 2px;
    text-align: center;
}

#candidatoLabel {
    display: none;
    position: absolute;
    left: 1px;
    top: 96px;
    width: 35px;
    height: 20px;
    border: 0px solid #000;
    font-family: arial;
    font-size: 15px;
    font-weight: 300;
    padding: 2px;
}

#candidatoNome{
    display: none;
    position:absolute;
    left:120px;
    top:125px;
    width:350px;
    height:20px;
    border:0px solid #000;
    font-size: 36px;
    font-weight: 400;
}

#candidatoNome {
    display: block;
    position: absolute;
    left: 81px;
    top: 96px;
    width: 250px;
    height: 20px;
    border: 0px solid #fc0;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
    padding: 2px;
}

#partidoLabel {
    display: none;
    position: absolute;
    left: 1px;
    top: 147px;
    width: 35px;
    height: 20px;
    border: 0px solid #000;
    font-family: arial;
    font-size: 14px;
    font-weight: 300;
    padding: 2px;
}

#partidoNome {
    display: none;
    position: absolute;
    left: 80px;
    top: 147px;
    width: 290px;
    height: 20px;
    z-index: 31;
    visibility: visible;
    border: 0px solid #000;
    font-family: arial;
    font-size: 16px;
    font-weight: 400;
    padding: 2px;
}

#suplente1Label {
    display: none;
    position: absolute;
    left: 1px;
    top: 205px;
    width: 85px;
    height: 20px;
    border: 0px solid #000;
    font-family: arial;
    font-size: 14px;
    font-weight: 300;
    padding: 2px;

}

#suplente1Nome {
    display: none;
    position: absolute;
    left: 95px;
    top: 205px;
    width: 290px;
    height: 20px;
    z-index: 31;
    visibility: visible;
    border: 0px solid #000;
    font-family: arial;
    font-size: 16px;
    font-weight: 400;
    padding: 2px;

}

#suplente2Label {
    display: none;
    position: absolute;
    left: 1px;
    top: 233px;
    width: 85px;
    height: 20px;
    border: 0px solid #000;
    font-family: arial;
    font-size: 14px;
    font-weight: 300;
    padding: 2px;

}

#suplente2Nome {
    display: none;
    position: absolute;
    left: 95px;
    top: 233px;
    width: 290px;
    height: 20px;
    z-index: 31;
    visibility: visible;
    border: 0px solid #000;
    font-family: arial;
    font-size: 16px;
    font-weight: 400;
    padding: 2px;

}

#avisoErrado {
    display: none;
    position: absolute;
    left: 2px;
    top: 100px;
    width: 280px;
    height: 20px;
    border: 0px solid #000;
    letter-spacing: 0.5px;
    font-size: 20px;
}

#avisoRepetido {
    display: none;
    position: absolute;
    left: 2px;
    top: 100px;
    width: 280px;
    height: 20px;
    border: 0px solid #000;
    letter-spacing: 0.5px;
    font-size: 20px;
}

#avisoInexistente {
    display: none;
    position: absolute;
    left: 2px;
    top: 170px;
    width: 280px;
    height: 20px;
    border: 0px solid #000;
    letter-spacing: 0.5px;
    font-size: 20px;
}

#avisoNulo {
    display: none;
    position: absolute;
    left: 190px;
    top: 190px;
    width: 250px;
    height: 20px;
    border: 0px solid #000;
    letter-spacing: 0.5px;
    font-size: 36px;
    font-weight: 400;
}

#avisoLegenda {
    display: none;
    position: absolute;
    left: 100px;
    top: 230px;
    width: 450px;
    height: 20px;
    border: 0px solid #000;
    letter-spacing: 0.5px;
    font-size: 34px;
    font-weight: 400;
}

#libras {
    display: block;
    position: absolute;
    left: 360px;
    top: 140px;
    width: 188px;
    height: 180px;
    background-color: transparent;
    background-image: url('../image/libras/senador.gif');
    background-size: 187px 180px;
}